@{
    ViewBag.Title = "AngularApp";
}

<div data-ng-app="MainApp" data-ng-cloak>

    <h2>AngularApp</h2>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a href="#/">Test Home</a>
            </li>
            <li>
                <a href="#/tickets">Tickets</a>
            </li>
        </ul>
    </nav>

    <div data-ng-view></div>

</div>

@section scripts {

@* RequireJS is an asynchronous module loader. It works by linking to the main require.js library
and then specifying with the data-main attribute the configuration file. *@


<script src="~/bower/requirejs/require.js" data-main="@Url.Content("~/Scripts/Application/MainApp.Require.js")"></script>

<script src="~/bower/angular/angular.min.js"></script>
<script src="~/bower/angular-resource/angular-resource.min.js"></script>
<script src="~/bower/angular-route/angular-route.min.js"></script>
<script src="~/Scripts/Application/MainApp.js"></script>
<script src="~/Scripts/Application/Modules/Tickets/TicketApp.js"></script>
<script src="~/Scripts/Application/Modules/Tickets/TicketController.js"></script>
<script src="~/Scripts/Application/Modules/Tickets/TicketService.js"></script>
<script src="~/Scripts/Application/Modules/Tickets/ManageTicketController.js"></script>
<script src="~/Scripts/Application/Modules/TicketCategories/TicketCategoryApp.js"></script>
<script src="~/Scripts/Application/Modules/TicketCategories/TicketCategoryService.js"></script>
}