body {
  padding-top: 50px;
  padding-bottom: 60px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
textarea {
  min-height: 10em; }

/*custom adding space between rows*/
.row {
  margin-bottom: 20px; }
